* {
    margin: 0px;
}

body {
    background-color: #E1E2E1;
    padding-top: 67px;
    height: 1500px;
}

.cabecalho {
    padding: 10px 5px;
    background-color: #68f0ae;
    position: fixed;
    width: 100%;
    top: 0px;
    padding: 20px;    
}

.cabecalho .logo {
    display: inline-block;
}

.cabecalho nav {
    float:right;
}

.cabecalho nav li {
    display: inline-block;
    padding: 15px;
    margin-right:10px;
    margin-left:10px;
}

main {
    
    background-color: white;
    padding: 30px;
    min-width: 320px;
    max-width: 900px;
    margin: 0 auto;
}

main .info {
    font-size: 18px;
}

main p {
    font-size: 16px;
}

.image img {
    width: 100%;
}

@media (max-width:576px){

    .cabecalho {
        text-align: center;
    }

    .cabecalho nav {
        float: none;
    }

    .cabecalho nav li {
        display: block;
    }
}