@media (max-width: 991.98px){

    .secao-com-texto {
        padding-inline-end: 153px 25px;
    }

    .secao-com-texto h2{
        font-size: 3rem;
    }

    .secao-com-texto p {
        width: 100%;
    }

    .secao-com-texto.onde-estamos {
        width: 100%;
    }
    
}

@media (max-width: 991.98px){

}

@media (max-width: 425px){
    
    .cabecalho .logo {
        display: block;
        margin: 0 auto;
    }
    .cabecalho nav{
        position: static;
        text-align: center;
        width: 100%;
    }
    .cabecalho nav ul li{
        display: block;
    }
    .cabecalho nav ul li a{
        width: 100%;
        display: block;        
    }
    .painel h2{
        font-size: 2.5rem;
    }
    .secao-com-texto h2{
        font-size: 30px;
    }
}
